html {
    overflow-y: auto;
    overflow-x: hidden;
}

.App {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d243c;
    position: relative;
    overflow: hidden;
}

.App img {
    position: absolute;
}

.dots {
    left: -13px;
    bottom: -5px;
    opacity: 0.6;
}

.calendar {
    width: 100px;
    height: 100px;
    right: 0;
}

.work {
    width: 600px;
    height: 600px;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 1200px) {
    .work {
        width: 400px;
        height: 400px;
    }
}

.notebook {
    width: 100px;
    height: 100px;
    top: 40px;
    left: 40px;
}

.pencil {
    width: 100px;
    height: 100px;
    top: 60px;
    right: 450px;
}

.message {
    width: 600px;
    height: 600px;
    left: 0;
}

@media screen and (max-width: 1100px) {
    .message {
        width: 400px;
        height: 400px;
    }
}